.Track {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
.Track-information {
    display: flex;
    flex-direction: column;
}
  
.Track-action {
    cursor: pointer;
}